<% layout('layouts/boilerplate') %>

<h1>Oh no! 404 problems suddenly appeared</h1>
<div class="alert alert-danger" role="alert">
  This page doesn't exist, and you're not here. Call 404 to learn more, or
  <a href="/" class="alert-link">go back to the start</a>.
</div>
